*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
}

.noticias{
    padding: 20px;
    padding-right: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10px;
}

.noticias img{
    width: 100%;
    height: 300px;
    padding: 10px;
}
.noticias h3{
    padding: 10px;
}
.noticias a{
    padding: 10px;
}

.noticias p{
    padding-left: 10px;
}

.nav-main{

    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;

}

.nav-brand{
    width: 50px;
}

.nav-main img{
    width: 110px;
    height: 40px;
    padding-left: 10px;
}

.nav-main ul{
    display: flex;
    justify-content: center;
}


.nav-main ul li{
    padding: 10px;
    list-style: none;

}
.nav-main ul li a{
    padding: 2px;
    text-decoration: none;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid rgb(201, 165, 63);
}

.landing-page img{
    width: 100%;
}

.categories-section ul li:hover {
    border-bottom: 3px solid black;
}

ul li{
    padding: 10px;
    list-style: none;
}

ul li a{
    padding: 2px;
    text-decoration: none;

}


.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;

}

h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 78px;
    text-align: center;
    color: rgb(24, 24, 24);
}

#categories{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-top: 2%;
}

.title-text{
    padding-right: 2%;
    padding-left: 2%;
}

.rectangle{
    margin-top: -150px;
}


/*footer*/

.footer-links{
    color: white;
    font-size: 14px;
    padding: 35px 0;

}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;

}

.footer-container ul{
    margin: 0 auto;
}

.footer-container ul li{
    line-height: 2.1;
}

.footer{
    color: rgb(249, 249, 249);
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;

}

